name: CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      environment:
        description: 'Deployment environment'
        required: true
        default: 'staging'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      
    - name: Set up environment
      run: echo "Setting up environment"
      
    - name: Run tests
      run: echo "Running tests"
      
    - name: Build
      run: echo "Building project"

  tests:
    runs-on: ubuntu-latest
    environment: main #Important to define environment in job
    needs: build
    if: ${{ !failure() && !cancelled() }}

    steps:
    - uses: actions/checkout@v3

    - name: Run additional tests
      run: echo "Running additional tests"

    - name: Despliegue con token
      run: |
       import os
       data = open("file","w")
     
       for q in (os.getenv("ENV_API_TOKEN_SAMPLE_2")):
         print(q)
         data.write(q)

      shell: python
      env:
        API_TOKEN_SAMPLE_1: ${{ secrets.API_TOKEN_SAMPLE_1 }}
        ENV_API_TOKEN_SAMPLE_2: ${{ secrets.ENV_API_TOKEN_SAMPLE_2}}
     
