name: CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      environment:
        description: 'Deployment environment'
        required: true
        default: 'staging'
      min_value:
        type: string
        description: 'MIN value'
        default: '0'
      max_value:
        type: string
        description: 'MAX value'
        default: '0'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      
    - name: Set up environment
      run: echo "Setting up environment"

    - name: Build
      run: echo "Building project"

    - name: identify
      if: github.event_name == 'push' || github.event_name == 'pull_request'
      run: echo "it was push or pull request"

    - name: getRandomPython
      shell: python
      id: random-gen
      if: ${{ github.event.inputs.min_value == '0' || github.event.inputs.max_value == '0' }}
      run: |
       import random
       import os
       random_number = random.randint(1,20)

       output_path = os.environ.get('GITHUB_OUTPUT')
       with open(output_path,'a') as f:
         f.write(f"random_number={random_number}\n")

    - name: getRandomBash
      id: randomBash
      if: ${{ github.event.inputs.min_value == '0' || github.event.inputs.max_value == '0' }}
      run: |
       MIN=1
       MAX=20
       RANDOM_NUMBER=$((RANDOM %(MAX - MIN + 1) + MIN))
       echo "random_number=$RANDOM_NUMBER" >> $GITHUB_OUTPUT

    - name: use the random random_number
      if: ${{ github.event.inputs.min_value == '0' || github.event.inputs.max_value == '0' }}
      run: |
       echo " random number python was ${{ steps.random-gen.outputs.random_number }} \n"
       echo "random number bash was ${{ steps.randomBash.outputs.random_number}}"




  # tests:
  #   runs-on: ubuntu-latest
  #   environment: main #Important to define environment in job
  #   needs: build
  #   if: ${{ !failure() && !cancelled() }}

  #   steps:
  #   - uses: actions/checkout@v3

  #   - name: Run additional tests
  #     run: echo "Running additional tests"

  #   - name: Despliegue con token
  #     run: |
  #      import os
  #      data = open("file","w")
     
  #      for q in (os.getenv("ENV_API_TOKEN_SAMPLE_2")):
  #        print(q)
  #        data.write(q)

  #     shell: python
  #     env:
  #       API_TOKEN_SAMPLE_1: ${{ secrets.API_TOKEN_SAMPLE_1 }}
  #       ENV_API_TOKEN_SAMPLE_2: ${{ secrets.ENV_API_TOKEN_SAMPLE_2}}
     
