name: CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      environment:
        description: 'Deployment environment'
        required: true
        default: 'staging'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      
    - name: Set up environment
      run: echo "Setting up environment"
      
    - name: Run tests
      run: echo "Running tests"
      
    - name: Build
      run: echo "Building project"

  tests:
    runs-on: ubuntu-latest
    needs: build

    steps:
    - uses: actions/checkout@v3

    - name: Run additional tests
      run: echo "Running additional tests"

    - name: Despliegue con token
      run: echo "iniciaando despliegue ${{ API_TOKEN_SAMPLE_1 }}"
      env:
        API_TOKEN_SAMPLE_1: ${{ secrets.API_TOKEN_SAMPLE_1 }}
     
